body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  line-height: 20px;
  min-height: 100vh;
}

.page {
  min-height: 100vh;
  position: relative;
}

/* header */

header {
  height: 300px;
  max-height: 9vh;
  background-image: url(images/headerBackground.png);
  background-position: center;
  background-size: 100vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
}

.header-link.watchlist {
  position: relative;
  text-align: left;;
  /* text-align: left; */
}

.header-link-watchlist-num {
  box-sizing: border-box;
  display: flex;
  align-self: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  position: absolute;
  top: -8px;
  right: -12px;
  border-radius: 50%;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 4rem 2rem;
}

.smthsUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 1.5rem;
  width: 400px;
  margin-top: 6rem;
}

/* movie */

.movie {
  padding: 2rem 0px;
  display: grid;
  grid-template-columns: auto minmax(200px, 250px) 100px;
  grid-template-rows: 50px 25px 80px 40px;
  grid-template-areas: 
  "image title star"
  "image details details"
  "image overview overview"
  "image watchlist more";
  column-gap: 20px;
  row-gap: 3px;
  align-items: center;
}

.movie:last-child {
  border-bottom: none;
}

.movie-image { 
  grid-area: image;
}

.movie-title {
  grid-area: title;
}

.movie-star {
  grid-area: star;
}

.movie-details {
  grid-area: details;
}

.movie-title,
.movie-details {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.movie-overview {
  position: relative;
  height: 100%;
  grid-area: overview;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.movie-overview::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
}

.movie-watchlist {
  grid-area: watchlist;
}

.movie-more {
  grid-area: more;
}

.movie-watchlist,
.movie-more {
    align-self: self-start;
    padding-top: 5px;
}

.movie-watchlist-content, 
.movie-more,
.movie-star,
.movie-details,
.watchlist-sorter,
.smthsUp .lets-add {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.movie-details {
  column-gap: 10px;
}

/* form */

form,
.watchlist-sorter {
  display: flex;
  transform: translateY(-50%);
  position: relative;
}

.search-input {
  box-sizing: border-box;
  width: 462px;
  height: 38px;
  border-radius: 6px 0px 0px 6px;
  padding: 9px 13px 9px 39px;
} 

/* images & icons */

header img {
  width: 100vw; 
}

.no-data-icon {
  width: 6rem;
}

.search-icon {
  position: absolute;
  left: 13px;
  top: 9px;
}

.movie-image,
.carousel-movie-img { 
  object-fit: cover;
  height: 100%;
  border-radius: 2.32941px;
}

/* links */

.finder-category-links {
  display: flex;
  column-gap: 2rem;
  overflow-x: scroll;
  width: 80%;
  height: 200%;
}

.finder-category-links.types {
  justify-content: center;
  margin-bottom: 1rem;
}

.finder-link,
.watchlist-sorter {
  box-sizing: border-box;
  padding: 9px 2rem;
  height: 38px;
  white-space: nowrap;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.finder-link.search-link {
  border-radius: 0px 6px 6px 0px;
}

.details-header-links {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.header-link {
  display: flex;
  justify-content: center;
  color: unset;
} 

.movie-more,
.header-link,
.finder-link,
.smthsUp .lets-add {
  text-decoration: none;
}

/* pointer */

.movie-watchlist,
.finder-link,
.watchlist-sorter,
.toggler--slider,
.smthsUp .lets-add {
  cursor: pointer;
}

/* fonts */

.header-title {
  letter-spacing: -0.045em;
  font-size: 42.7947px;
  line-height: 24px;
}

.header-title,
.carousel-movie-title {
  font-weight: 800;
}

.carousel-movie-title {
  font-size: 21px;
}

.movie-title,
.smthsUp {
  font-size: 18px;
}

.movie-overview,
.search-input,
.header-link,
.finder-link,
.watchlist-sorter,
.toggler p,
.smthsUp .lets-add {
  font-size: 14px;
}

.movie-star,
.movie-details,
.movie-watchlist, 
.movie-more {
  font-size: 12px;
  font-weight: 400;
}

.smthsUp,
.header-link {
  font-weight: 700;
}

.finder-link, 
.movie-title,
.watchlist-sorter,
.toggler p  {
  font-weight: 500;
}

/* color */

.page {
  background-color: white;
}

.page.dark {
  background-color: #121212;
}

header {
  color: white;
  background-color: rgb(44, 42, 42);
}

header img {
  background: rgb(30, 29, 29);
}

.header-link-watchlist-num {
  background: rgb(103, 58, 183, .65);
}

.smthsUp {
  color: #DFDDDD;
}

.smthsUp.dark {
  color: #787878;
}

.smthsUp .lets-add {
  color: #363636;
}

.smthsUp.dark .lets-add {
  color:  white;
}

.movie {
  border-bottom: 1.5px solid #E5E7EB;
}

.movie-overview {
  color: #6B7280;
}

.movie.dark .movie-overview {
  color: #A5A5A5;
}

.movie-overview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.movie.dark .movie-overview::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #121212 50%);
}

.movie-details,
.movie-watchlist, 
.movie-more,
.movie-star,
.carousel-movie-title {
  color: #111827;
}

.movie.dark > *,
.carousel-movie-title.dark {
  color: white;
}

.search-input {
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #6B7280;
}

.search-input.dark {
  color: #A5A5A5;
  background: #2E2E2F;
  border: none;
  box-shadow: none;
}

.search-input:focus-within {
  box-shadow: none;
}

.finder-link,
.watchlist-sorter {
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #374151;
}

.selected-finder-link {
  background: #4B4B4B;
  color: white;
  border: none;
}

.finder-link.dark {
  background: #4B4B4B;
  color: white;
  border: none;
}

.selected-finder-link.dark {
  background: #F9FAFB;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  color: #374151;
}

/* toggler */

.toggler {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  border-radius: 2rem;
  margin-inline: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  box-sizing: content-box;
  background-color: #F5F5F5; 
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: #2B283A;
  border-radius: 50%;
}

.toggler.dark .toggler--slider--circle {
  background-color: white;
} 

.toggler.dark .toggler--slider {
  border-color: white;
  justify-content: flex-end;
  background-color: #2B283A;
}

/* carousel & scrollToTop */

.carousel-movie-title {
  font-size: 21px;
  display: flex;
  align-self: flex-start;
  margin-left: 50px;
  padding: 10px;
}

.carousel {
  width: 100%;
}

.carousel.dark .rec-carousel-wrapper .rec-carousel .rec-arrow,
.scrollToTop.dark {
  background-color: white;
}
.carousel.dark .rec-carousel-wrapper .rec-carousel .rec-arrow:focus,
.carousel.dark .rec-carousel-wrapper .rec-carousel .rec-arrow:hover,
.scrollToTop:hover
{
  background-color: rgb(103 58 183)
}

.scrollToTop:hover {
  color: white;
}

.carousel.dark .rec-carousel-wrapper .rec-carousel .rec-arrow:disabled,
.carousel.dark .rec-carousel-wrapper .rec-carousel .rec-arrow:disabled:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(196, 189, 189);
}

.carousel.dark .rec-carousel-wrapper .rec-pagination .rec-dot.jhmYzC {
  background: rgb(196, 189, 189);
}

/* crollToTop */

.scrollToTop {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  z-index: 8;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  color: white;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 2px 0px #333;
  font-size: 1.6em;
  transform: rotate(270deg);
  color: #333;
  cursor: pointer;
  background-color: rgba(103,58,183,0.1);
  border: none;
  transition: all 0.3s ease;
}

.scrollToTop.hidden {
  z-index: -1;
}
